<%= form_with(model: @blog, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
<center>
  <table border="0">
    <tr>
      <td>
      <div class="blog_title">
        <%= form.label :name %>
      </td>
      <td>
        <%= form.text_field :name %>
      </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="blog_title">
        <%= form.label :title %>
      </td>
      <td>
        <%= form.text_field :title %>
      </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="blog_title">
        <%= form.label :content %>
      </td>
      <td>
        <%= form.text_field :content %>
        </div>
      </td>
    </tr>
     <tr>
       <td>  
          <div class="blog">
          <%= form.label :image %>
        </td>
        <td>
          <%= form.file_field :image, id: :blog_image %>
          <%= form.hidden_field :image_cache %>
          </div>
        </td>
      </tr>
</table>
</center>  
<br>
  <%= form.submit %>
<% end %>

<%= link_to "ブログ一覧画面にもどる", blogs_path %>