<h1>ブログ詳細ページ</h1>

<div class="container">
    <div class="row">

<center>        
  <table border="0">
    <tr>
      <th>名前
      </td>
       <td><%= @blog.name %>
        </td>
    </tr>
    <tr>
      <th>タイトル
      </th>
        <td><%= @blog.title %>
        </td>
    </tr>
    <tr>
      <th>内容
      </th>
        <td><%= @blog.content %>
        </td>
    </tr>
    <tr>
      <th>画像
      </th>
        <td><%= image_tag @blog.image %>
        </td>
    </tr>
    </tr>
</table>
</center>

<br>
<% unless @blog.favorite_users == current_user %>
    <% if @favorite.present? %>
        <%= link_to 'お気に入りを解除する', favorite_path(blog_id: @blog.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
        <%= link_to 'お気に入りする', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-prymary' %>
    <% end %>
<% end %>

<br>

</div>
</div>
<%= link_to 'ブログ一覧画面にもどる |', '/blogs' %>
<%= link_to '新しくブログを投稿する', new_blog_path %>


