<br><br>
<h1>Sign up</h1>

<div class="container">
    <div class="row">
 
 <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
 
        
<%= form_with(model: @user, local: true) do |f| %>  

<center>
<table>
    <tr>
        <td>
            <%= f.label :name %>
        </td>
        <td>
            <%= f.text_field :name %>
        </td>
    </tr>
    <tr>
        <td>
            <%= f.label :email %>
        </td>
        <td>
            <%= f.email_field :email %>
        </td>
    </tr>
    <tr>
        <td>
            <%= f.label :password %>
        </td>
        <td>
            <%= f.password_field :password %>
        </td>
    </tr>
    <tr>
        <td>
            <%= f.label :password_confirmation %>
        </td>
        <td>
            <%= f.password_field :password_confirmation %>
        </td>
    </tr>
    <tr>
        <td>
          <div class="user">
              <%= f.label :icon %>
        </td>
         <td>
              <%= f.file_field :icon, id: :user_image %>
              <%= f.hidden_field :user_cache %>
          </div>
         </td>
     </tr>
</table>

           <%= image_tag @user.icon %>



<br><br>
<%= f.submit "アカウント登録" %>
</center>        
  </div>
  </div>
<% end %>