<br>
<br>
<h1>    <p><%= image_tag @user.icon %><%= @user.name %>のお気に入りブログ一覧</h1>

<p>メールアドレス: <%= @user.email %></p>


<table>

    
    <% @favorites_blogs.each do | blog | %>
    
    <h2><%= blog.title %></h2>
    <p><%= blog.content %></p>
    <p><%= blog.created_at %></p>
    <% end %>
    
    
      
</table>
