<!DOCTYPE html>

<html>

<head>
  <title>Bootstrapページ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
  <header>
    <ul>
      <li><%= link_to 'TOP', '/' %></li>
      <li><%= link_to 'LIST', '/webpages' %></li>
  </header>

<body>

<%= yield %>

</body>

  <footer>
    <p>株式会社EXAMPLE</p>
    <p>2018 01 10.</p>
  </footer>

</html>